// @mixin heading($color: black, $border-radius: false) {  // Los dos puntos " : " Se usa para cuando no aplique el color agregado tome el otro valor como determinado.
//     text-transform: uppercase;
//     color: $color;
//     font-size: 2.4rem;       //Se puede agregar varios parametros al mixins para ser utilizados.
//     letter-spacing: 1px;
//     background-color: aqua;
//     @if $border-radius {
//         border-radius: 1rem;
//     }
// } //Se coloco el if para que cuando se cumpla la prueba se pueda generar el codigo aplicado.
@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$table) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopxl {
    @media (min-width: v.$desktopxl) {
        @content;
    }
}
@mixin grid($columnas, $espacio){
    grid-template-columns: repeat($columnas, 1fr);
    display: grid;
    gap: $espacio;
}