//Tipo grafia.
$fuente_principal: 'Montserrat', sans-serif;
//coleres
$verde: #4cb8b3;
$amarillo:#fef46d;
$rosa:#f53756;
$morado:#752f97;
$negro:#000000;
$blanco:#ffffff;
//pantallas
$telefono: 480px;
$table: 768px;
$desktop: 992px;
$desktopxl: 1200px;
