@use 'base/mixins' as m;
@use 'base/variables' as v;
.sobre-festival {
    margin-top: 4rem;
    @include m.tablet {
        @include m.grid(2, 3rem);
    }
}
.imagen {
    margin-bottom: 3rem;
}
.contenido-festival {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        margin-bottom: 2rem;
    }
    .fecha {
        color: v.$rosa;
        font-weight: 700;
    }
}